/* ====== Base ====== */
body {
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Cantarell", sans-serif;
  font-weight: 400;
  color: #222;
}

img {
  width: 100%;
  display: block;
}

/* ====== Layout ====== */
.container {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

/* ====== Header ====== */
.header__content {
  text-align: center;
  padding: 20px;
}

.header__title {
  font-weight: 900;
  font-style: italic;
  color: #c1121f;
  margin-bottom: 0;
}

.header__tagline {
  color: #780000;
  margin-top: 0;
  font-size: 18px;
  font-weight: 700;
}

/* ====== Articles ====== */
article {
  border: 1px solid #ced4da;
}

.article-feature-text {
  padding: 0 0 2em 2em;
}

.article-secondary-flex {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.article-sec {
  margin-top: 1.5em;
  padding: 1.5em;
  width: 44%;
}

/* ====== Buttons / Links ====== */
.article__link {
  text-decoration: none;
  border: 1px solid #ced4da;
  padding: 0.7em 1.2em;
  color: #fff;
  background: #e76f51;
  border-radius: 2px;
  display: inline-block;
}

.article__link:hover,
.article__link:focus {
  background: #ffc300;
  color: black;
}

/* ====== Footer ====== */
.site-footer {
  text-align: center;
  padding: 20px 0;
}

/* ====== Responsive ====== */
@media (max-width: 750px) {
  .article-secondary-flex {
    flex-direction: column;
  }

  .article-sec{
    width: 90%;
  }

}